.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
    'header header'
    'nav content';


  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: lightblue;
}

.header img {
  width: 60px;
}

.nav {
  grid-area: nav;
  background-color: pink;
}

.content {
  grid-area: content;
  background-color: lightgoldenrodyellow
}